/* Styles for Parallax effect in page header */
// NB: background-image must be specified on each page

.parallax {
  min-height: 75vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax h1 {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  padding-top: 20vh;
}

.parallax h2 {
  color: rgba(255, 255, 255, 0.9);
  padding-bottom: 5vh;
  text-align: center;
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
    min-height: 50vh;
  }

  .parallax h1 {
    padding-top: 0vh;
  }
}
