// Variable overrides
// Theme
$body-color: #2C332E;
$primary: #79D69A;
$secondary: #D67D79;
$success: #31573F;
// $light: rgb(236, 247, 236);
$dark: #2C332E;
// $text-muted: rgba($light, 0.75);

// Nav tabs
.nav-link {
  color: $success;
}

// .nav-link.active, .nav-item.show .nav-link {
//   color: $nav-tabs-link-active-color
// }

@import "../node_modules/bootstrap/scss/bootstrap";

// Nav tabs
$nav-tabs-link-active-bg: $light;
