// Variable overrides
// Theme
// $body-bg: #fffef1;
$body-color: #272b33;
$primary: #5B60D6;
$secondary: #CAC749;
$info: #022472;
$warning: $secondary;
$light: #fffef1;
$dark: #272B33;
$text-muted: rgba($light, 0.75);
