- 
  const sections = [
    {
      imgUrl: './assets/watermarked/stock-photo-fire-dispatching-desk-with-telephone-1055769587.jpg',
      name: 'Dispatchers',
      description: "Information for call takers and dispatchers that outlines their role, the procedures for dispatching calls involving people with behavioral health disorders and proper documentation.",
      list: ['Existing Training', 'New Trainings', 'Decision Making Playbook', 'Question Resource'],
      url: './dispatchers.html'
    },
    {
      imgUrl: './assets/watermarked/stock-photo-a-female-police-officer-standing-next-to-her-unit-while-she-s-about-to-talk-on-her-radio-84538543.jpg',
      name: 'De-escalation',
      description: "Training for responding officers and other first responders to safely de-escalate situations involving people who are experiencing a behavioral health crisis.",
      list: ['Existing Training', 'New Trainings', 'Decision Making Playbook', 'Question Resources', 'Access-Anytime Case Studies'],
      url: './de-escalation.html'
    },
    {
      imgUrl: './assets/watermarked/stock-photo--d-illustration-of-scales-of-justice-and-gavel-on-orange-background-118284739.jpg',
      name: 'Laws',
      description: "Understanding of legal information sharing between first responders and behavioral health providers. Clear information about Colorado’s laws about regarding involuntary and emergency evaluation and commitment.",
      list: ['Quick Reference for Relevant Laws', 'Complete Law Reference Guide', 'Access-Anytime Case Studies'],
      url: './laws.html'
    },
    {
      imgUrl: './assets/watermarked/stock-photo-close-up-top-view-of-young-people-putting-their-hands-together-friends-with-stack-of-hands-showing-506137132.jpg',
      name: 'Partnerships',
      description: "Guidance for local agencies to develop appropriate Memorandum Of Understanding (MOUs) to facilitate and formalize information sharing between first responders and behavioral health agencies.",
      list: ['Existing Resources', 'MOU Toolkit'],
      url: './partnerships.html'
    },
    {
      imgUrl: './assets/watermarked/stock-vector-emergency-call-flat-icon-with-long-shadow-210150958.jpg',
      name: "Diversion & Referral",
      description: "Screening questions for first responders to use when they respond to a call or encounter an individual to determine an individual’s mental health status or level of intoxication. Information about how to divert people to mental health/substance abuse services when no crime has been committed.",
      list: ['Quick Reference of Diversion & Referral', 'Complete Reference Guide'],
      url: './diversion-referral.html'
    }
  ]